.header {
  position:sticky;
  justify-content: space-between;
  display: flex;
  padding: 5% 5%;
  z-index: 999;
}

.logo {
  justify-content: space-between;
}
.pilote {
  position: relative;
  justify-content: space-between;
  bottom: 4vh;
}

.logo:hover {
  filter: contrast(300%);
}

.pilote:hover {
  filter: opacity(30%);
}
