@keyframes rotate {
  from {
    transform: rotate(0deg); /* Rotation de départ (0 degré) */
  }
  to {
    transform: rotate(-360deg); /* Rotation finale (360 degrés) */
  }
}

.body {
  position: relative;
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  overflow: hidden;
}

.ellipse1 {
  width: 40rem;
  height: 40rem;
  transform: rotate(-145deg);
  border-radius: 53.1985rem;
  background: radial-gradient(50% 50% at 50% 50%, rgba(46, 196, 182, 0.4) 0%, rgba(203, 243, 240, 0.16) 100%);
  backdrop-filter: blur(2px);
}

.ellipse2 {
  width: 53.1985rem;
  height: 52.98375rem;
  transform: rotate(-145deg);
  border-radius: 53.1985rem;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 191, 105, 0.4) 0%, rgba(255, 191, 105, 0) 100%);
  backdrop-filter: blur(2px);
  position: absolute;
  top: 20%;
  left: 40%;
}

.title {
  margin-top: 10vh;
  width: 100vw;
  color: #000;
  font-family: Dancing Script;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  z-index: 1;
}
.worldCircle {
  position: absolute; 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  top: 20vh;
}

.circle {
  position: absolute;
  animation: rotate 30s linear infinite;
}

.world {
  position: absolute;
}
