@keyframes rotate {
  from {
    transform: rotate(0deg); /* Rotation de départ (0 degré) */
  }
  to {
    transform: rotate(360deg); /* Rotation finale (360 degrés) */
  }
}

.main {
  height: 100vh;
  width: 100vw;
  padding: 0rem 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 10% 10% 10% 10%;
  gap: 0px 0px;
  position: relative;
  overflow: hidden;
}

.ellipse1 {
  width: 80vw;
  height: 80vh;
  transform: rotate(-145deg);
  border-radius: 53.1985rem;
  background: radial-gradient(50% 50% at 50% 50%, rgba(46, 196, 182, 0.4) 0%, rgba(203, 243, 240, 0.16) 100%);
  backdrop-filter: blur(2px);
  grid-row-start: 0;
  grid-row-end: 1;
  grid-column-start: 0;
  grid-column-end: 0;
}

.ellipse2 {
  width: 53.1985rem;
  height: 52.98375rem;
  transform: rotate(-145deg);
  border-radius: 53.1985rem;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 191, 105, 0.4) 0%, rgba(255, 191, 105, 0) 100%);
  backdrop-filter: blur(2px);
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
}

.title {
  margin-top: 10vh;
  width: 100vw;
  color: #000;
  font-family: Dancing Script;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  z-index: 1;
}
.worldCircle {
  position: absolute; 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.circle {
  position: absolute;
  animation: rotate 30s linear infinite;
}

.world {
  position: absolute;
}
