@keyframes rotate {
  from {
    transform: rotate(0deg); /* Rotation de départ (0 degré) */
  }
  to {
    transform: rotate(-360deg); /* Rotation finale (360 degrés) */
  }
}

@keyframes translate1 {
  0% {
    transform: translateX(0) translateY(0vh);
  }
  50% {
    transform: translateX(100vw) translateY(100vh);
  }
  100% {
    transform: translateX(-0) translateY(0vh); 
  }
}

@keyframes translate2 {
  0% {
    transform: translateX(0) translateY(0vh);
  }
  50% {
    transform: translateX(100vw) translateY(-100vh);
  }
  100% {
    transform: translateX(-0) translateY(0); 
  }
}


.body {
  position: relative;
  height: 80vh;
  width: 100vw;
  text-align: center;
  display: flex;
  /* overflow: hidden; */
}

.ellipse1 {
  position: absolute;
  width: 40rem;
  height: 40rem;
  transform: rotate(-145deg);
  border-radius: 53.1985rem;
  background: radial-gradient(50% 50% at 50% 50%, rgba(46, 196, 182, 0.4) 0%, rgba(203, 243, 240, 0.16) 100%);
  backdrop-filter: blur(2px);
  animation: 15s linear infinite reverse translate1;
  bottom: 50%;
}

.ellipse2 {
  position: absolute;
  width: 53.1985rem;
  height: 52.98375rem;
  transform: rotate(145deg);
  border-radius: 53.1985rem;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 191, 105, 0.4) 0%, rgba(255, 191, 105, 0) 100%);
  backdrop-filter: blur(2px);
  animation: 15s linear infinite translate2;
}

.title {
  margin-top: 10vh;
  width: 100vw;
  color: #000;
  font-family: Dancing Script;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  z-index: 1;
}
.worldCircle {
  position: absolute; 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  top: 5vh;
}

.circle {
  position: absolute;
  animation: rotate 30s linear infinite;
}

.world {
  position: absolute;
}

